{% extends 'layout/default.html.twig' %}

{% block title %}Hello{% endblock %}

{% block meta %}<meta name="description" content="Home page description">{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hello!</h1>
        <p>Congratulations! You have successfully created your application.</p>
    </div>
</div>
{% endblock %}
