<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>Error</title>
    <link rel="stylesheet" href="build/css/app.css">
</head>

<body>

<main role="main" class="app-content">
    <div class="container">
        <h1>Exception: {{ exception.getMessage() }}</h1>
        <p>Code: {{ exception.getCode() }}</p>
        {% for trace in exception.getTrace() %}
            <p>{{ trace.file }} on line {{ trace.line }}</p>
        {% endfor %}
    </div>
</main>
</body>
</html>
