{% extends 'layout/default.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        {% block main %}{% endblock %}
    </div>
    <div class="col-md-3">
        {% block sidebar %}
        <ul class="list-group mb-3">
            <h6>Site navigation</h6>
            <li class="list-group-item">
                <div>
                    <h6 class="my-0">Cabinet</h6>
                    <small class="text-muted">Cabinet description</small>
                </div>
            </li>
        </ul>
        {% endblock %}
    </div>
</div>
{% endblock %}