<?php

use App\Console\Command;
use Framework\Http\Middleware\ErrorHandler\ErrorResponseGenerator;
use Infrastructure\App\Console\Command\FixtureCommandFactory;
use Infrastructure\Framework\Http\Middleware\ErrorHandler\WhoopsErrorResponseGeneratorFactory;
use Infrastructure\Framework\Http\Middleware\ErrorHandler\WhoopsRunFactory;
use Whoops\RunInterface;

return [
    'dependencies' => [
        'factories' => [
            ErrorResponseGenerator::class => WhoopsErrorResponseGeneratorFactory::class,
            RunInterface::class => WhoopsRunFactory::class,
            Command\FixtureCommand::class => FixtureCommandFactory::class,
        ],
    ],

    'doctrine' => [
        'configuration' => [
            'orm_default' => [
                'result_cache' => 'array',
                'metadata_cache' => 'array',
                'query_cache' => 'array',
                'hydration_cache' => 'array',
            ],
        ],
        'driver' => [
            'entities' => [
                'cache' => 'array',
            ],
        ],
    ],

    'console' => [
        'commands' => [
            Command\FixtureCommand::class,
        ],
    ],
    'debug' => true,
    'config_cache_enabled' => false,
];
