<?php

use Doctrine\DBAL\Driver\PDO\MySQL\Driver;

return [
    'auth' => [
        'users' => [
            'admin' => 'password',
        ],
    ],

    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'url' => 'mysql://psr7:secret@mysql/psr7',
//                    'dbname' => 'psr7',
//                    'user' => 'psr7',
//                    'password' => 'secret',
//                    'host' => 'mysql',
                ],
            ],
        ],
    ],
];
