<?php

return [
    'debug' => true,

    'auth' => [
        'users' => [
            'admin' => 'password',
        ],
    ],
    'pdo' => [
        'dsn' => 'mysql:host=mysql;dbname=psr7;charset=utf8',
        'username' => 'psr7',
        'password' => 'secret',
    ],
];
